@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');


:root{   
/* ### Primary */

--Moderate-violet: hsl(263, 55%, 52%);
--Very-dark-grayish-blue: hsl(217, 19%, 35%);
--Very-dark-blackish-blue: hsl(219, 29%, 14%);
--White: hsl(0, 0%, 100%);

/* ### Neutral */

--Light-gray: hsl(0, 0%, 81%);
--Light-grayish-blue: hsl(210, 46%, 95%);
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    align-content: center;
    justify-content: center;
    height: 100vh;
    background: var(--Light-gray);
}

p,h1,h2{
    padding: 0px;
    margin: 0px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: lighter;
}

h1{
    color: white;
    font-size: 20px;
    font-weight: bold;
}

p{
    color:  hsla(0, 0%, 81%,0.5);
    font-size: 16px;
    font-weight: 100;
    line-height: 1.5;
}
h2{
    font-weight: bold;
    color: var(--Light-grayish-blue);  
}

div{
    border-radius: 16px;
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-width: 1400px;
    height: 800px;
    gap: 30px; 
}

.box-main{
    display: grid;
    border: 1px solid black;
}

.img-large{
    grid-column: 1/3;
    background: var(--Moderate-violet);
    border-radius: 16px;
    background-image: url(../images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: calc(80% - 10px) top;
    /* background-position: calc(100% - 20px); */
} 
.img-large2{
    grid-column: 2/4;
    background: blueviolet;
}

.img-row-large{
    grid-row:span 2;
    grid-column: 4/5;
    background: var(--Light-grayish-blue)
}

.img-row-large .avatar .tittle h1{
   color: var(--Very-dark-blackish-blue);
}

.img-row-large .avatar .tittle p{
    color:hsla(0, 0%, 41%, 0.5);
}

.img-row-large .avatar .tittle-text h2{
    color: var(--Very-dark-blackish-blue);
}

.img-row-large .avatar p{
    color:var(--Very-dark-blackish-blue);
}

.img-small{
    grid-column:3/4 ;
    grid-row: 1/2;
    height: 368px;
    background-color:var(--Very-dark-grayish-blue)
}

.img-small .avatar .tittle-text:first-child p,
.img-small .avatar .tittle-text:first-child h2,
.img-small .avatar .tittle-text:first-child h1 {
    color: var(--Very-dark-blackish-blue);
}

.img-small:nth-child(2){
    grid-row:2/4 ;
    grid-column: auto;
    background-color: var(--Light-grayish-blue)
}

.img-large2{
    background-color:var(--Very-dark-blackish-blue);
}

.box-main.img-small:nth-child(2) .tittle-text h1,
.box-main.img-small:nth-child(2) .tittle-text h2{
    color:var(--Very-dark-blackish-blue)
}

.box-main.img-small:nth-child(2) .tittle-text p{
    color:var(--Very-dark-grayish-blue)
}

.box-main.img-small:nth-child(2) .img h1,
.box-main.img-small:nth-child(2) .img h2{
    color:var(--Very-dark-blackish-blue)
}

.box-main.img-small:nth-child(2) .img p{
    color:  hsla(0, 0%, 41%, 0.5);
}

.avatar{
    padding: 10px 30px
}

.img{
    display: flex;
    align-items: center; /* Alinea verticalmente */
    height: 80px;
}

.tittle{
    padding: 30px;
}

.img p{
    display: flex;
}

.tittle p{
    font-size: 18px;
}

.tittle-text h2{
    padding-bottom: 30px;
    font-weight: 100; 
}

.avatar img{
    border-radius: 50%;
    border: 2px solid white;
}

@media screen and (max-width: 768px) {
    body {
      /* Agrega estilos específicos para pantallas más pequeñas aquí */
      justify-content: flex-start; /* Cambia la alineación vertical a flex-start */
      padding: 20px; /* Añade un relleno al body */
    }
  
    .container {
      display: block; /* Cambia a un diseño de bloque para apilar los elementos */
      max-width: 100%; /* Ajusta el ancho al 100% del viewport */
      gap: 15px; 
    }
  
    .box-main {
      border: 1px solid black; 
      margin-bottom: 15px; 
  

  }
}