

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,800&display=swap');

:root{

--Purple: hsl(259, 100%, 65%);
--Light-red: hsl(0, 100%, 67%);

--White: hsl(0, 0%, 100%);
--Off-white: hsl(0, 0%, 94%);
--Light-grey: hsl(0, 0%, 86%);
--Smokey-grey: hsl(0, 1%, 44%);
--Off-black: hsl(0, 0%, 8%);

}

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
  
}
.container{
    width: 100vw; /* Ancho del viewport */
    height: 100vh;
    background-color: var(--Off-white);
    display: flex;
    align-items: center;
    justify-content: center;
}


.box{
    height: 600px;
    width: 640px;
    border: 1px solid black;
    background-color: var(--White);
    border-radius: 18px 18px 180px 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-container{
    height: 530px;
    width: 600px;
}

.form-container {
    display: flex;
    gap: 50px; /* Espacio entre elementos */  
}
  
.input-group {
    display: flex;
    flex-direction: column;
    width: 120px;
    max-height: 115px;
    font-style: italic;
    font-weight: bolder;
    
}
  
input{
    width: 120px;
    min-height: 60px;
    border: 1px solid var(--Light-grey);
    border-radius: 5px;
    font-size: 27px;
    padding-left: 15px;
    font-style: italic;
    font-weight: bolder;
    
}

input:hover,
input:focus
{
    border: 1px solid var(--Purple);
    cursor: pointer;
    outline: none;

}

label {
    margin-bottom: 5px; /* Espacio entre el label y el input */
    color:  #8c8c8c;
}
  
.line_btn{
    display: flex;
    align-items: center; 
    width: 560px;
}

.line {
    flex: 1;
    border: none;
    height: 1px;
    background-color: var(--Light-grey); /* Color de la línea (negro en este caso) */
    margin-top: 40px; /* Espacio entre el input y la línea */
    margin-top: 5px;
}

#btn-calculo{
    border-radius: 100px;
    height: 80px;
    width: 80px;
    background-color: var(--Purple);
    border: none;
    cursor: pointer;
}

#btn-calculo:hover{
    background-color: black;
    transition: 0.5s ease-out;
}

.year p,
.month p,
.day p{
    display: inline;
    margin-right: 10px;
    font-size: 80px;
    font-style: italic;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
}


#resultadoAnios,
#resultadoMes,
#resultadoDias{
    color: var(--Purple);
}

.error-message {
    font-size: 10px;
    color: var(--Light-red);
    font-weight: 100;
}

